@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}     
@font-face {
    font-family: 'DepartureMono-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/DepartureMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Lovingu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
      html,body{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            position: fixed;     /*정렬*/
            overflow: hidden;    /*넘치는 화면은 자르기 */
        }
        a{
            text-decoration: none;
            color: black;
        }
        .videoweather{ /*비디오 띄어주는 스타일*/
            position: absolute; right: 0; bottom: 0;top: 0; left: 0; /*박스 위치 고정*/
            min-width: 100%; min-height: 100%; /*최대 사이즈 지정*/
            width: auto; height: auto; z-index: -100; /*z-index를 사용하여 가장 뒤로 배치*/
            background-size: cover;
        }
        header{
           display: flex;
           flex-direction: row;
           justify-content: space-between;
        }
        .mail{
            margin-right: 15px;
            font-size: 20px;
            font-weight: bold;
        }
        .setting{
            margin-right: 15px;
            font-size: 20px;
            font-weight: bold;
        }
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .navtitle{
            text-align: center;
            font-size: 50px;
            font-family:'DepartureMono-Regular';
            
        }
        .searchBox{
            height: 30px;
            width: 300px;
            background: white;
            border-radius: 40px;
            padding: 10px;
            border: 1px solid #f9deec;
        }
        .searchText{
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0px;
            color: #797979;
            font-size: 16px;
            line-height: 30px;
            width: 200px;
        }
        .searchBtn{
            color: #f9deec;
            float: right;
            width: 40px;
            height: 100%;
            border-radius: 50%;
            background: white;
            border: none;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .result{
            margin-top: 10px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'SF_HambakSnow';
        }
        .nowdate{
            margin-top: 5px;
            font-family: 'SF_HambakSnow';
        }
        
        footer{
            width: 100%;
            bottom: 0px;
            position: absolute;
            height: 2rem;
            background-color: #949494;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-family: 'Cafe24Lovingu';
        }